.swiper-button-next,
.swiper-button-prev {
    color: #EEEEFF;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #EEEEFF;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 13px;
    height: 13px;
}

@media (max-width:480px) {
    .swiper-button-next,
    .swiper-button-prev {
        color: #000300;
    }
}