.TriggerIcon {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open'] {
    color: theme(colors.motion_ime_purple);
}

.AccordionTrigger[data-state='open']>.TriggerIcon {
    transform: rotate(180deg);
}