@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary font-secondary bg-white overflow-x-hidden;
  }

  .section {
    @apply h-screen w-screen;
  }

  .underline-on-hover {
    display: inline-block;
  }

  .underline-on-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: rgba(234, 234, 234, 0.56);
    transition: width 0.3s;
  }

  .underline-on-hover:hover::after {
    width: 100%;
  }

  .box-reflect-below {
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, transparent, #0002, #0004);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #eeeeff;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #eeeeff;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    width: 13px;
    height: 13px;
  }

  .card {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(1, 2, 3, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  @media (max-width: 480px) {
    .swiper-button-next,
    .swiper-button-prev {
      color: #000300;
    }
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
